.page-container{
    height: 100vh;
    width: 100vw;

    .page-menu{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 5;
        top: 0;
        width: 100%;
        height: 100%;

        .page-title,
        .start-btn{
            background-color: rgb(29, 14, 0);
            color: rgb(187, 91, 2);
            padding: 1em 2em;
            font-size: 1.5rem;
            border: 0.15em solid black;
        }
        
        .page-title{
            border-radius: 0.25em;
        }
        
        .start-btn{
            border-radius: 2em;
        }

        .start-btn:hover{
            background-color: rgb(59, 29, 0);
        }
    }

    .page-cover{
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100vh;
    }

    .board-container{
        display: block;
        width: 100%;
        height: 85%;
        max-height: 450px;
        max-width: 450px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .letters{
            display: flex;
            flex: 0 0 80%;
            padding: 0 10%;
            justify-content: space-around;
            text-align: center;
        }
        .letters:first-child{
            div{
                height: fit-content;
                margin-top: auto;
                margin-bottom: 0;
                p{
                    transform: rotateZ(180deg);
                }
            }
        }
        .numbers{
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-around;
            flex: 0 0 10%;
            text-align: center;
        }
        .numbers:nth-child(4){
            div{
                p{
                    transform: rotateZ(180deg);
                }
            }
        }
        .playfield{
            flex: 0 0 80%;
            height: 100%;
            .board-row{
                display: flex;
                width: 100%;
                height: 12.5%;
                .block{
                    position: relative;
                    height: 100%;
                    width: 12.5%;
                    
                    .selector-img,
                    .chess-piece-pic{
                        width: 100%;
                        height: 100%;
                    }

                    .chess-piece-pic:hover{
                        background-color: rgba(255, 255, 0, 0.349);
                    }

                    .selector-img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        // height: 100%;
                        opacity: 0.5;
                        animation-name: selectorRotation;
                        animation-duration: 2s;
                        animation-timing-function: linear;
                        animation-iteration-count: infinite;
                    }

                    .selector-img:hover{
                        background-color: #fff;
                        opacity: 0.5;
                        border-radius: 50%;
                    }

                    @keyframes selectorRotation{
                        from{transform: rotateZ(0);}
                        to{transform: rotateZ(360deg);}
                    }
                }
            }
            .board-row:nth-child(odd) .block:nth-child(odd){
                background-color: rgb(187, 91, 2);
            }
            .board-row:nth-child(odd) .block:nth-child(even){
                background-color: rgb(59, 29, 0);
            }
            .board-row:nth-child(even) .block:nth-child(odd){
                background-color: rgb(59, 29, 0);
            }
            .board-row:nth-child(even) .block:nth-child(even){
                background-color: rgb(187, 91, 2);
            }
        }
    }
}

@media screen and (min-width:1200px) and (min-height:1200px) {
    .page-container{
        font-size: 2rem;
        .board-container{
            max-width: none;
            width: 1200px;
            .numbers{
                flex: 0 1 8%;
            }
            .playfield{
                height: 1000px;
                width: 1000px;
                .board-row{
                    height: 125px;
                    .block{
                        width: 125px;
                        height: 125px;
                    }
                }
            }
        }
    }
}